<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js e Express</title>
</head>
<body>
    <nav>
        <a href="/">inicio</a>
        <a href="/sobre">sobre</a>
        <a href="/contato">contato</a>
    </nav>
    <h1>Bem vindo a aplicação Node.Js e express</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quos numquam omnis reprehenderit beatae eaque, quisquam aliquid natus assumenda placeat. Soluta nostrum assumenda dolorum amet ab quaerat iure dolor numquam.</p>
    <hr>
    <ul>
        <% for (banda of bandas) { %>
            <li><%=banda %></li>
        <% } %>
    </ul>
    
</body>
</html>